NODE_ENV=development
PORT=5000

MONGO_URI=mongodb://localhost:27017/gym-saas

JWT_ACCESS_SECRET=access_secret # to be changed
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_SECRET=jwt_refresh_secret # to be changed
JWT_REFRESH_EXPIRES_IN_SHORT=1d
JWT_REFRESH_EXPIRES_IN_LONG=30d

CLIENT_ORIGIN=http://localhost:5173